<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Web Lecture</title>
</head>
<body>
        <h1>This is our First Web Application Lecture</h1>
        <h3>Hello, @ViewBag.Whateveryouwanttobethename  @ViewBag.Number, welcome to C#</h3>
</body>
</html>